.impacts-image-container {
  position: relative;
  transform: rotate(180deg);
  border-radius: 6px;
}

.impacts-image {
  object-fit: contain;
  object-position: center center;
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

.impacts-image-area {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
}

.impacts-image-circle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.impacts-image-inner-circle {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

.impacts-image-inner-plus::before,
.impacts-image-inner-plus::after {
  content: '';
  position: absolute;
  background-color: #7283A4;
  top: 46%;
  left: 23%;
}

.impacts-image-inner-plus::before {
  width: 15px;
  height: 2px;
}

.impacts-image-inner-plus::after {
  width: 15px;
  height: 2px;
  transform: rotate(90deg);
}

.impacts-image-circle:hover {
  transform: scale(1.4);
  transition: all 0.3s ease;
}

.impacts-image-circle.slight {
  background: linear-gradient(to bottom, #1b30f5, #1baaf5);
}

.impacts-image-circle.medium {
  background: linear-gradient(to bottom, #f0ad4e, #f0ee4e);
}

.impacts-image-circle.extensive {
  background: linear-gradient(to bottom, #ff0068, #ffaa68);
}

.impacts-image-circle.empty {
  /*background: linear-gradient(to bottom, #D6D6D6, #ffffff);*/
  background: #ffffff;
}

.remove-impact-x {
  font-size: 18px !important;
}

.tooltip-inner-auto-width {
  max-width: max-content;
  background-color: #ffffff;
  padding: 0;
}

.selected-damages {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 100px;
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.bottom-bar {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 20;
  bottom: 0;
  background-color: #ffffff;
}
